html {
  font-size: 12pt;

  @include breakpoint($medium) {
    font-size: 22pt;
  }

  @include breakpoint($large) {
    font-size: 24pt;
  }

  @include breakpoint($x-large) {
    font-size: 28pt;
  }
}
