{% if site.comments.disqus.shortname %}
  <script>
    function loadDisqusOnConsent() {
      var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";  /* Replace PAGE_URL with your page's canonical URL variable */
        this.page.identifier = "{{ page.id }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
      };
      (function() { /* DON'T EDIT BELOW THIS LINE */
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.comments.disqus.shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    }
    function showDisqusNotAvailableMessage() {
      (function() { 
        var d = document;
        var x = d.createElement('div');
        var y = d.createElement('strong');
        y.innerHTML = 'Please allow cookies (at the bottom of the page) to enable commenting via Disqus!';
        x.style.color = '#f71559';
        x.appendChild(y);
        (d.head || d.body).appendChild(x);
      })();
    }
  </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
