---
layout: archive
---

{{ content }}


<img src="{{site.baseurl}}/assets/images/1500x500.jpg" />

For those of you currently starting with Vulkan development, you might find my <a href="https://youtu.be/isbMMIwmZes">Introduction to Vulkan</a> lecture
and the <a href="https://github.com/cg-tuwien/VulkanWorkshop">Vulkan Workshop</a> helpful.<br/>
For your subsequent C++ and Vulkan programming adventures, I might have a suitable framework for you: <a href="https://github.com/cg-tuwien/Gears-Vk"><em>Gears-Vk</em></a> can 
let you get into gears quickly with Visual Studio on Windows. For development on other platforms, you might find <a href="https://github.com/cg-tuwien/Auto-Vk"><em>Auto-Vk</em></a>
useful.

While I devote most of my time to <em>Gears-Vk</em> and <em>Auto-Vk</em>, my most famous GitHub repository is 
<a href="https://github.com/johannesugb/VolumetricLinesUnity">VolumetricLinesUnity</a>: An asset for Unity3D 
that renders lines in a volumetric appearance.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
