---
layout: archive
---

<p style="text-align:justify;">
<div style="text-align:center;"><img src="{{site.baseurl}}/assets/images/1500x500.jpg" alt="Fairy Tale Memories" width="100%"/></div>
Screenshot of our game <a href="http://www.fairytale-memories.com">Fairy Tale Memories</a> for iOS and Android<br/>(currently unavailable)
</p>

<p style="text-align:justify;">
  <div style="text-align:center;"><img src="{{site.baseurl}}/assets/images/Vulkan_White_100px_Dec16.png" alt="Vulkan Logo" align="center"/></div>
  For those of you currently starting with Vulkan development, you might find my <a href="https://youtu.be/isbMMIwmZes">Introduction to Vulkan</a> lecture
and the <a href="https://github.com/cg-tuwien/VulkanWorkshop">Vulkan Workshop</a> helpful.</p>
<p style="text-align:justify;">
For your subsequent C++ and Vulkan programming adventures, I might have a suitable framework for you: <a href="https://github.com/cg-tuwien/Gears-Vk"><em>Gears-Vk</em></a> can 
let you get into gears quickly with Visual Studio on Windows. For development on other platforms, you might find <a href="https://github.com/cg-tuwien/Auto-Vk"><em>Auto-Vk</em></a>
  useful.</p>

<p style="text-align:justify;">I currently devote most of my time to <a href="https://www.cg.tuwien.ac.at/staff/JohannesUnterguggenberger-0">real-time rendering research</a> at the <a href="https://www.cg.tuwien.ac.at/">TU Wien's Research Unit of Computer Graphics</a> 
  and to further the development of <em>Gears-Vk</em> and <em>Auto-Vk</em>. However, my most famous GitHub repository is 
<a href="https://github.com/johannesugb/VolumetricLinesUnity">VolumetricLinesUnity</a>, an asset for Unity3D 
  that renders lines in a volumetric appearance.</p>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
