---
layout: archive
---

<p style="text-align:justify;">
<div style="font-size: 0.666em;"><img src="{{site.baseurl}}/assets/images/work-work-teaser.png" alt="Screenshot of my work in the last couple of years" width="100%"/></div>
<em>Title Image:</em> Screenshots of selected things I've been working on in the last couple of years: University course exercises (physically-based shading, depth of field), medical visualization of 19,600 spherical harmonic glyphs in real time, fine-grained culling for skinned meshes, real-time ray tracing in Vulkan, rendering of 358k parametrically defined fiber curbes in real time.
</p>

<p style="text-align:justify;">
  Hi there, great to see you around! My name is Johannes Unterguggenberger.
  I've been working for the <a href="https://www.cg.tuwien.ac.at/">Research Unit of Computer Graphics</a> at <a href="https://www.tuwien.at/">TU Wien</a> for a couple of years, got my Ph.D. in 2025, and am currently working as a Senior Computer Graphics Architect for Huawei Technologies.
  This is the home page of my personal website, which contains mostly posts about real-time rendering and related topics.
  Please use the Disqus-sections at the bottom of each blog post (available after accepting cookies) to discuss about the respective topic!
</p>

<h3 class="archive__subtitle">Publications</h3>
<p><strong>First Author Papers:</strong>
<ul>
  <li><a href="https://johannesugb.github.io/gpu-programming/fast-multi-view-rendering-for-real-time-applications/">Fast Multi-View Rendering for Real-Time Applications</a>, Eurographics Symposium on Parallel Graphics and Visualization 2020</li>
  <li><a href="https://johannesugb.github.io/gpu-programming/conservative-meshlet-bounds-for-robust-culling-of-skinned-meshes/">Conservative Meshlet Bounds for Robust Culling of Skinned Meshes</a>, Pacific Graphics 2021</li>
  <li><a href="https://johannesugb.github.io/gpu-programming/the-road-to-vulkan/">The Road to Vulkan: Teaching Modern Low-Level APIs in Introductory Graphics Courses</a>, Eurographics 2022</li>
</ul>

These papers also represent my main technological orientation in recent years:
</p>

<h3 class="archive__subtitle">GPU Programming</h3>
  <div style="text-align:center;"><img src="{{site.baseurl}}/assets/images/Vulkan_White_100px_Dec16.png" alt="Vulkan Logo" align="center"/></div>
<p style="text-align:justify;">
  My <a href="https://www.youtube.com/playlist?list=PLmIqTlJ6KsE1Jx5HV4sd2jOe3V1KMHHgn">Vulkan Lecture Series</a> on YouTube has gained some attention and should be very helpful with understanding the concepts of the Vulkan API.
  It has also been linked on The Khronos Group's <a href="https://vulkan.org/">vulkan.org</a> website under <a href="https://vulkan.org/learn#key-resources">learning resources</a>.
  The Vulkan Lecture Series represents the way how I think that learning Vulkan should be approached, s.t. maximum understanding can be gained.
</p>
<p style="text-align:justify;">
  For all the work shown in <em>Title Image</em>, I have used the <a href="https://github.com/cg-tuwien/Auto-Vk-Toolkit">Auto-Vk-Toolkit</a> framework, which adds a lot of convenience for Vulkan development.
  While it probably should get some updates here and there, it has proven to be quite effective for rapid prototyping, research, and also in teaching graduate students the concepts of Vulkan from a slightly higher level. 
</p>

At Huawei Technologies, I am still working in the field of real-time rendering, mostly implementing algorithms, optimizing GPU performance, and doing research in this field---which is arguable the greatest field of them all within computer sciences, and ever will be.

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
